<Files ".env">
    Order Allow,Deny
    Deny from all
</Files>

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,QSA]

RewriteRule ^static/(.*) /public/static/$1 [L,QSA]
RewriteRule ^(favicon\.ico)$ /public/static/$1 [L,QSA]
RewriteRule ^ /public/ [L,QSA]
