---
name: Security Audit

on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

jobs:
  composer-audit:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Clean up
        run: |
          docker-compose down --rmi all -v --remove-orphans
          git clean -dfx
      - name: Composer audit
        run: |
          docker-compose build --build-arg PHP_IMAGE_TAG=8.2-fpm-alpine3.19 lumen
          docker-compose run --rm --entrypoint composer lumen audit
      - name: Clean up
        run: |
          docker-compose down --rmi all -v --remove-orphans
          git clean -dfx
